@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: #f8f8fb;
    --nav: #373b53;

    --primary: #0C0E16;
    --secondary: #888EB0

    --themeToggler: #7E88C3
  }

  .dark {
    --background: #141625;
    --nav: #1e2139;

    --primary: #FFFFFF
    --secondary: #DFE3FA

    --themeToggler: #858BB2
  }
}
